.accordion-container {
	/*flex: 1;*/
	margin: 5px;
	.accordion {
		&-head {
			background:  #5e7583;;
			line-height: 1.3em;
			/*font-weight: bold;*/
			color: $white;
			padding: 5px;
			
			a {
				float: right;
				display: block;
				padding: 3px;
			}
			a:after {
				@extend .clearfix;
			}
		}
		&-body {
			padding: 10px;
			background: $white;
			//background: $white;
			background: #e4e8f1;
		}
	}
}