
.two-col {
	@include flex();
	>div,
	.col1-flex {
		flex: 1;	
	}
}


.two-col-form {
	/*flex: 1;*/
	@include flex();

	div.form-input-container {
		flex: 1;
		padding: 5px;
		align-items: center;

		> div.form-input {
			padding: 5px;
		
			input {
				border: 1px solid #aaa;
			}
		}
	}
}
