
.header-strip {
	background: #333;
	padding: 5px;
	.logo {
		cursor: pointer;
		vertical-align: middle;
		height: 30px;
	}
	.burger-menu {
		padding: 5px;
		width: 30px;
		height: 30px;
		background: url("../img/icon-menu.svg") center no-repeat #ffffff;
		border: 1px solid #eee;
		cursor: pointer;
		vertical-align: middle;
	}
	.page-title {
		display: inline-block;
		vertical-align: middle;
		padding-left: 10px;
		font-size: 20px;
		color: #ffffff;
	}
	.right-navigation {
		float: right;
		color: #ffffff;
		li {
			display: inline-block;
			padding: 5px;
			margin: 0 5px;
			cursor: pointer;
		}
	}
}
.link-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	text-align: center;
	border-right: 1px solid #333;
}
.left-navigation-primary {
	background: #cccccc;
	height: 100%;
	width: 40px;
	.link-container li {
		padding: 5px;
		background: #ffffff;
		margin: 5px;
		cursor: pointer;
	}
}